{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'hitme_game/styles.css' %}">
    <title>Home Page</title>
</head>

<body>
    <div class="index-background">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-2 thumbnail">
                        <img src="https://pbs.twimg.com/profile_images/1874281601/BlackjackIcon_400x400.png" alt="logo" class="img-logo">
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-2">
                        <h1 class="j-tron-text">Hit Me!</h1>
                    </div>
                </div>
            </div>
            <!-- End of Jtron-->
            <div class="login-page">
                <div class="form">
		    {% if messages %}
    			{% for message in messages %}
    			    {{ message }}
    			{% endfor %}
		    {% endif %}

		    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p >
                    {% endif %}
	
                    <form class="login-form" action='/hitme/' method="post" >
			{% csrf_token %}
                        <h1 id="red">Login</h1>
                        <div class="form-element">
                            <i class="fas fa-envelope"></i>
                            <input type="text" class="input" name="username" placeholder="Username">
                        </div>
                        <div class="form-element">
                            <i class="fas fa-key"></i>
                            <input type="password" class="input" name="password" placeholder="Password">
                        </div>
                        <button type="submit">Login</button>
                        <p class="msg" id="red">Not registered? <a href="#" id="signup" class="white">Create an account</a></p>
                    </form>

                    <form class="register-form" action="/hitme/register" method="post">
                        {% csrf_token %}
			<h1 id="red">Register</h1>
                        <div class="form-element">
                            <i class="fas fa-envelope"></i>
                            <input type="text" class="input" name="username" placeholder="Username">
                        </div>
                        <div class="form-element">
                            <i class="fas fa-user"></i>
                            <input type="password" class="input" name="password" placeholder="Password">
                        </div>
                        <div class="form-element">
                            <i class="fas fa-user"></i>
                            <input type="password" class="input" name="password2" placeholder="Confirm Password">
                        </div>
                        <button type="submit">create</button>
                        <p class="msg" id="red">Already registered? <a href="#" id="login" class="white">Sign In</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End of Container-->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $( document ).ready(function(e) {
                if (location.hash == "#register") {
                    $('.login-form').css('display', 'none');
                    $('.register-form').css('display', 'inline');
                    e.preventDefault();
                }
            });

        $(function() {
            $('#signup').on('click', function(e) {
                $('.login-form').css('display', 'none');
                $('.register-form').css('display', 'inline');
                e.preventDefault();
            });
        });
        $(function() {
            $('#login').on('click', function(e) {
                $('.register-form').css('display', 'none');
                $('.login-form').css('display', 'inline');
                e.preventDefault();
            });
        });
    </script>
</body>

</html>
